* {
	padding: 5px;
	margin: 5px;
}

body{
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}
nav{
	padding: 10px;
	background-color: Blue;
}
section {
	background-image: url('light-paper.jpg');
	border-radius: 10px;
}
ol{
	list-style-position: inside;
}
ul {
	list-style: inside;
}
nav li {
	display: inline;
	font-size: 2em;
}
li {
	padding-top: 3px;
	padding-bottom: 1px;
}
h1 {
	font-size: 4em;
	text-align: center;
}
h2 {
	font-size: 2em;
}
nav ul li:nth-child(1)
{
    float:left;
    
}

nav ul li:nth-child(3)
{
    float:right;   
    margin-right:10%;
}
nav ul li:nth-child(2)
{
    float:right;   
    margin-right:10%;
}