* {
	padding: 5px;
	margin: 5px;
}

body{
	
}
nav{
    background-color: Blue;
    color: White;
	padding: 10px;
}
nav li {
	display: inline;
}
li {
	padding-top: 3px;
	padding-bottom: 1px;
}
h1 {
	font-size: 4em;
	text-align: center;
}
h2 {
	font-size: 2em;
}
nav ul:nth-child(1)
{
    float:left;
    
}

nav ul:nth-child(2)
{
    float:right;   
    margin-right:10%;
}