* {
    margin: 0px;
}

body {
    font-family: Avenir;
}

header {
    text-align: center;
}

body{
	
}
nav{
    background-color: #46A4E2;
    width: 100%;
    padding: 10px;
}

nav img{
    height: 35px;
    display: inline-block;
}

nav li{
    display:inline;
    margin-left: 10px;
}

li a{
    color: white; 
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

nav ul:nth-child(2)
{
   display:inline;
    color: red;
}

nav ul:nth-child(3)
{
    display:inline;
    margin-left: 40%;
    margin-top: -20px;
}

section p{
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

section{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: white;
    height: auto;
}

section img{
    margin-bottom: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px gray;   
}

section ol{
    list-style-position: inside;   
}

section ul{
    list-style: inside;
}

.navigation{
    color:white;
}

.navigation:hover{
       
}