@import url(http://fonts.googleapis.com/css?family=Cabin);
* {
    margin: 0px;
}
html {
	overflow-y: scroll;
	height: 100%;
}
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
body {
    font-family: 'Cabin', sans-serif;
	font-size: 1.25em;
	position: relative;
	min-height: 100%;
	padding-bottom: 4rem;
}
header {
    text-align: center;
}
nav{
    background-color: #46A4E2;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

nav ul{
    width: 90%;
    margin: auto;
    text-align: center;
}
nav img{
    height: 35px;
    display: inline-block;
}
nav li{
    display:inline;
    padding: 10px;
}

li a{
    color: white; 
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}

section p{
    margin-top: 10 px;
    width: 80%;
    margin: auto;
}
section{
    width: 80%;
    margin: auto;
    text-align: center;
}
section img{
    box-shadow: 5px 5px 10px gray;   
}
section ol{
    list-style-position: inside;
	width: 50%;
	margin: auto;
	text-align: left;
}
section ul{
    list-style: inside;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
h1 {
	font-size: 2em;
}
h1, h2 {
	padding-bottom: 5px;
	padding-top: 10px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer nav{
    text-align: center;
    padding: 10px 0px 10px 0px
}
