* {
    margin: 0px;
}

body {
    font-family: Avenir;
}

header{
    text-align: center;
    vertical-align: middle;
}

body{
	
}
nav{
    background-color: #46A4E2;
    width: 100%;
    padding: 10px;
}

nav li{
    display:inline;
}

li a{
    color: white; 
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

nav ul:nth-child(2)
{
   display:inline;
    color: red;
}

nav ul:nth-child(3)
{
    display:inline;
    margin-top: -20px;
}

section p{
    margin-top: 20px;
    border: 1px solid gray;
    margin-left: 10px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

section{
    width: 66.6%;
    margin-left: 10%;
    text-align: center;
    background-color: white;
    height: auto;
}

section img{
    margin-bottom: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px gray;   
}

section h-group{
    margin-top: 50px;   
}


.navigation{
    color:white;
    margin: auto;
}

.navigation:hover{
       
}